 styles.css
* {
    box-sizing: border-box;
    
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 7% ;
}

.container {
    
    width: 50%;
    margin: auto;
    padding: 0;
    height: 50%;
    background: #f1f1f1;
}

.container .center {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container button {
    width: 230px;
    height: 50px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: 0;
    font-family: Helvetica;


    
    

}